<!--  头部 -->
<div class="container logo-search">
    <div class="row">
        <div class="layui-form-item">
            <div class="layui-input-group">
                <input type="text" placeholder="填写要搜索的内容吧" class="layui-input" id="search_text">
                <div class="layui-input-split layui-input-suffix" style="cursor: pointer;" id="search_btn">
                    <i class="layui-icon layui-icon-search"></i>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- 导航栏 -->
<div class="container navigation">
    <div class="row">
        <div class="col nav">
            <ul id="index-nav">
                <li><a href="/toolkit/index/nav/all">全部</a></li>
                <li><a href="/toolkit/index/nav/time">时间</a></li>
                <li><a href="/toolkit/index/nav/image">图片</a></li>
                <li><a href="/toolkit/index/nav/document">文档</a></li>
            </ul>
        </div>
    </div>
</div>